:root{
    --ColorPrimario: #2E90C4;
    --ColorSecundario: #033265;
    --ColorTerceario:#547496;
    --ColorNegro:#000000;
    --ColorBlanco: #ffffff;
    --ColorBody:#FCFCFC;
}

body{
    background-color: var(--ColorBody);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.splide{
    top: 180px;
}


.container-info{
background-color: #547496;
}

.accordion-body img,
.img-colabora{
    width: 150px;
    height: auto;
}

.nav-link-paginas-internas{
    margin-top: 110px;
}
.nav-titulos-paginas-principales{
  margin-top: 190px;
}

/* --- Estilo Header ---*/

header{
    position: fixed;
    background-color: var(--ColorBlanco);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 40px;
    z-index: 200;
}

header nav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    /*background-color: green;*/
}

header .toggle{
    /*background-color: indianred;*/
    width: 5%;
    display: none;
}

header div img{
    width: 30px;
    height: auto;
}

header nav img{
    width: 190px;
    height: auto;
    margin-left: 70px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li{
    position: relative;
    padding: 5px;
    top: 5px;
}


header ul li a{
    position: relative;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    color: var(--colorTerciario);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 100px;
    /*display: block;*/
}

.estado-activo{
    font-weight: bold;
}

.container-rrss{
    background-color: var(--ColorPrimario);
    position: fixed;
    top: 100px;
    z-index: 200;
}

.redes-sociales{
    display: flex;
    justify-content: space-between;
    color: var(--ColorBlanco);
}

.redes-sociales img{
    width: 24px;
    height: auto;
}

@media (max-width: 840px){
    header nav img{
        width: 120px;
        margin-left: 2%;
    }
    header .toggle{
        display: block;
    }
    header nav ul{
        display: none;
    }
    header nav ul.active{
        display: block;
    }
    header ul{
    position: fixed;
    background: var(--ColorBlanco);
    width: 100%;
    height: 30vh;
    right: 0;
    /*height: calc(70% - 90px);*/
    top: 120px;
    text-align: center;
    }
    header nav ul li a{
        color: var(--colorBase_2);
    }
}

@media (max-width:760px){
    .container-rrss{
        top: 72px;
    }
}

@media (max-width: 450px){
    .redes-sociales p{
        display: none;
    }
    .redes-sociales{
        justify-content: center;
    }
    .redes-sociales div{
        display:flex;
        width: 60%;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    .splide{
        top: 130px;
    }
}
/*--- Fin Estilos Header ---*/

/*--- Estilos Cards de Pago ---*/
.card-header-pago{
    background-color: var(--ColorSecundario);
}


/*-- Estilo Formulario de Contacto ----*/
footer div textarea, input, button{
    color: var(--ColorBlanco);
}
footer div input{
    width: 100%;
}
footer div textarea{
    width: 100%;
}
footer div button{
    width: 40%;
}

/*--- Slider Manual ----*/

.slider{
    width: 100%;
    height: auto;
    margin-top: 130px;
    overflow: hidden;
  }
  
  .slider ul{
    display: flex;
    width: 300%;
    padding: 0;
    animation: cambio 20s infinite;
    animation-direction:alternate ;
  }
  
  .slider li{
    width: 100%;
    list-style: none;
  }
  
  .slider img{
    width: 100%;
    height: auto
  }
  
  @keyframes cambio {
    0%{ margin-left: 0; }
    20%{ margin-left: 0; }
  
    25%{ margin-left: -100%; }
    45%{margin-left: -100%; }
  
    50%{ margin-left: -200%; }
    70%{margin-left: -200%; }
  
    75%{ margin-left: -200%; }
    100%{margin-left: -200%; }
  }