:root{
    --ColorPrimario: #2E90C4;
    --ColorSecundario: #033265;
    --ColorTerceario:#547496;
    --ColorNegro:#000000;
    --ColorBlanco: #ffffff;
    --ColorBody:#FCFCFC;
}

body{
    background-color: var(--ColorBody);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container-info{
background-color: #547496;
}

.accordion-body img,
.img-colabora{
    width: 150px;
    height: auto;
}

